<div class="col-sm-12" *ngIf="testTypes">

  <div *ngIf="testSelected">
    <h2>{{testSelected.name}}</h2>

    <div class="form-group">
      <button [disabled]="loading" id="start-test-btn" class="btn btn-primary btn-lg"
              (click)="startTest(testSelected.type)">
        <span *ngIf="!loading" i18n>Start Test</span>
        <span *ngIf="loading" class="actn-loader"></span>
      </button>
      <span *ngIf="loading" class="pl-3 text-muted">Loading... please wait</span>
    </div>
  </div>

  <div *ngIf="!testSelected">
    <div class="jumbotron test mb-4" *ngFor="let item of testTypes | keyvalue"
         [ngStyle]="{'background': 'url(' + item.value.pic + ')'}">
      <div class="media mb-2">
        <div class="media-body">
          <div class="test-{{item.value.styleName}}">
            <h1 class="mx-5 my-3">{{item.value.name}}</h1>
          </div>
          <div class="row mx-1">
            <div class="col-md-7">
              <h2>{{item.value.name}}<br>{{item.value.questions}} questions</h2>
              <h3 class="mt-5">{{item.value.description}}</h3>
              <h4 class="mt-4">Average testing time is {{item.value.time}} min, limit {{item.value.expire}} min</h4>
            </div>
            <div class="col-md-5">
              <a class="btn btn-block btn-lg btn-{{item.value.styleName}}" routerLink="{{item.value.url}}">
                Go to the {{item.value.name}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
