@import 'src/views/_mixins';

.test {
  height: 400px;
  padding: 0;
}

.test h1 {
  line-height: 60px;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.test h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
}

.test h3 {
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
}

.test h4 {
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
}

.test .btn {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

#start-test-btn {
  min-width: 114px;
}

/** Responsive **/

@include tablet {
    #iq-test-list {
        .start-iq-test-btn {
            margin-left: 0;
            max-width: initial;
        }
    }
}

@include mobile {
    #iq-test-list {
        .start-iq-test-btn {
            margin-left: 0;
            max-width: initial;
        }
    }
}
