.test {
  height:400px;
  padding:0;
}

.test h1 {
  line-height: 60px;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.test .btn {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  line-height: 65px;
}
