<!-- Individual test page -->
<div class="container" id="iq-test-details">
  <div class="row">

    <div class="col-12 py-3" *ngIf="isBrowser && customConfig">
      <share-buttons
        [include]="['facebook','twitter','linkedin','pinterest','reddit','vk','telegram','whatsapp','xing','line','sms','email','copy']"
        [exclude]="['google','mix','tumblr','print', 'messenger']"
        [show]="15"
        [autoSetMeta]="false"
        [theme]="'modern-dark'"
        [image]="customConfig.image"
        [title]="customConfig.title"
        [description]="customConfig.description"
      ></share-buttons>
    </div>

  </div>
</div>

<!-- Test details -->
<div class="container" *ngIf="testTypes && testSelected" id="iq-test-list">
  <div class="row">
    <div class="col-12">
      <div class="test">
        <div class="test-{{testSelected.styleName}}">
          <h1 class="mx-5 my-3 py-2">{{testSelected.name}} <span i18n>free online</span></h1>
        </div>
        <div class="row mx-1">
          <div class="col-md-7 text-white">
            <h2 class="mt-1">{{testSelected.description}}</h2>
            <p class="mt-2 lead">{{testSelected.name}} {{testSelected.questions}} <span i18n>questions</span></p>
            <p class="mt-2"><span i18n>Average testing time is</span> {{testSelected.time}} <span i18n>min</span>,
              <span i18n>limit</span> {{testSelected.expire}} <span i18n>min</span></p>
          </div>
          <div class="col-md-5">
            <!--            ad placeholder-->
          </div>
        </div>

        <!-- Start test -->
        <div class="start-iq-test-btn offset-xl-4 offset-lg-3 offset-md-2 col-sm-1 col-xl-4 col-lg-5 col-md-8 col-sm-10">
          <button [disabled]="loading" id="start-test-btn"
                  class="text-white btn btn-block btn-lg btn-{{testSelected.styleName}} btn-rounded py-3 mx-auto"
                  (click)="startTest(testSelected.type)">
            <span *ngIf="!loading" i18n>Start Test</span>
            <fa-icon *ngIf="!loading" [icon]="['fas', 'brain']" class="ml-2"></fa-icon>
            <span *ngIf="loading" class="actn-loader"></span>
          </button>
          <span *ngIf="loading" class="pl-3 text-white">Loading... please wait</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List of all iq tests -->
<section *ngIf="testTypes && !testSelected">

  <div *ngFor="let item of testTypes" [ngClass]="'bg-' + item.styleName">
    <div class="container pt-1 pb-5">
      <div class="row">

        <!-- Test details of test list -->
        <div class="col-12 test"
             [ngStyle]="{'background-image': 'url(' + item.pic + ')'}">
          <div class="media mb-2">
            <div class="media-body">
              <div class="test-{{item.styleName}}">
                <h2 class="mx-4 my-3 py-2">{{item.name}} <span i18n>online</span></h2>
              </div>
              <div class="row mx-1">
                <div class="col-md-7 text-white">
                  <h3 class="mt-3">{{item.description}}</h3>
                  <p class="mt-3">{{item.name}} {{item.questions}} <span i18n>questions</span></p>
                  <p class="mt-4"><span i18n>Average testing time is</span> {{item.time}} <span i18n>min</span>,
                    <span i18n>limit</span> {{item.expire}} <span i18n>min</span></p>
                </div>
                <div class="col-md-5 pr-3">
                  <a class="btn btn-block btn-lg btn-{{item.styleName}} btn-rounded py-3 px-4"
                     routerLink="{{item.url}}">
                    <span i18n>Open</span> {{item.name}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
