<div class="container pt-3 pb-2">
  <div class="row">
    <div class="col-sm-6">
      <h1><span i18n>Hi</span>, {{currentUser.name}}!</h1>
    </div>
    <div class="col-sm-6 text-right">
      <button routerLink="{{currentUser.url}}" class="btn btn-outline-primary mr-2" [disabled]="!currentUser.url">
        <svg class="feather">
          <use xlink:href="/assets/feather-sprite.svg#home"/>
        </svg>
        <span i18n>Open Profile</span>
      </button>

      <button routerLink="/settings" class="btn btn-outline-primary mr-2">
        <svg class="feather">
          <use xlink:href="/assets/feather-sprite.svg#settings"/>
        </svg>
        <span i18n>Edit Profile</span>
      </button>

      <button (click)="logout()" class="btn btn-outline-primary">
        <span i18n>Logout</span>
      </button>
    </div>
  </div>
</div>

<div class="bg-user" *ngIf="!isLoading">
  <div class="container py-4">
    <div class="row">
      <div class="col-8 offset-2">
        <app-profile *ngIf="currentUser" [user]="currentUser"></app-profile>
      </div>
    </div>
  </div>
</div>

<div class="py-5" *ngIf="isLoading">
    <div class="container py-4">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="page-loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" *ngIf="!isLoading">
  <div class="row">
    <div class="col-12">
      <h1>{{currentUser.name}}, <span i18n> your iq tests are displayed below</span>.</h1>
    </div>
  </div>

  <section class="row" *ngIf="testTypes && userTests">
    <div class="col-md-6" *ngFor="let test of userTests">
      <div class="card-container test-{{this.testTypes[this.testTypesKeys[test.type]].styleName}}"
           [ngStyle]="{'background-image': 'url(' + this.testTypes[this.testTypesKeys[test.type]].pic + ')'}"
      >
        <div class="text-white">
      <span class="w-25 p-2 badge" [ngClass]="{ 'badge-success': test.status === testStatus.FINISHED,
                         'badge-primary': test.status === testStatus.ACTIVE,
                         'badge-secondary': test.status === testStatus.EXPIRED }">{{test.status}}</span>
        </div>
        <div class="text-white">
          <h1>{{this.testTypes[this.testTypesKeys[test.type]].name}}</h1>
        </div>

        <div class="badge iq-badge-test test-megaiq position-absolute"
             *ngIf="test.type == testTypeEnum.MEGA_IQ">{{test.points}}</div>
        <div class="badge iq-badge-test test-standard position-absolute"
             *ngIf="test.type == testTypeEnum.STANDARD_IQ">{{test.points}}</div>

        <div class="row">
          <div class="col-6" *ngIf="test.status === testStatus.FINISHED">
            <a routerLink="{{test.url}}" class="btn btn-success btn-block btn-lg mt-2">
              <svg class="feather">
                <use xlink:href="/assets/feather-sprite.svg#share-2"/>
              </svg>
              <span i18n>Open Details</span></a>
          </div>

          <div class="col-6">
            <button routerLink="/classroom/{{test.code}}" class="btn btn-warning btn-block btn-lg mt-2"
                    *ngIf="test.status === testStatus.FINISHED" [disabled]="loading && test.code === deletedId">
              <svg class="feather">
                <use xlink:href="/assets/feather-sprite.svg#sun"/>
              </svg>
              <span i18n>Show Answers</span></button>
          </div>
        </div>

        <div *ngIf="!test.finishDate" class="course-progress">
          <div class="text-white test-progress">
            <span i18n>Overall test progress</span>: {{test.progress}}%
            <progress class="w-100" value="{{test.progress}}" max="100" role="progressbar"></progress>
          </div>
        </div>
        <div class="course-starts text-white pt-2">
          <span i18n>Started at</span>: {{test.createDate | date:'medium'}}
        </div>
        <div class="course-ends text-white" *ngIf="test.finishDate">
          <span i18n>Finished at</span>: {{test.finishDate | date:'medium'}}
        </div>
        <div class="row">
          <div class="col-12">
            <button routerLink="/classroom/{{test.code}}" class="btn btn-primary btn-block btn-lg mt-3"
                    *ngIf="test.status === testStatus.ACTIVE" i18n>Continue Test
            </button>
          </div>
        </div>

        <div class="text-right">
          <button class="w-25 btn btn-danger" (click)="deleteTestResult(test.code)"
                  *ngIf="test.status !== testStatus.ACTIVE" [disabled]="loading && test.code === deletedId">
            <span *ngIf="!loading"><i class="fa fa-trash" aria-hidden="true"></i> <span i18n>Delete</span></span>
            <span *ngIf="loading" class="actn-loader"></span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <div class="row" *ngIf="isLastLoaded">
    <div class="col-8 offset-2">
      <div class="alert alert-info" i18n>All results were loaded successfully.</div>
    </div>
  </div>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScrollDown()"
></div>
