.test {
  height: 250px;
  padding: 0;
}

.test h2 {
  line-height: 60px;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.test p {
  color: #fff;
}

.jumbotron {
  padding-top: 1.5em
}
