<!-- User dashboard -->
<div class="container pt-4" *ngIf="!isLoadingPage && currentUser">
  <div class="row">
    <div class="col-sm-5">
      <h2><span i18n>Hi</span>, {{currentUser.name || "Anonymous"}}!</h2>
    </div>
    <div class="col-sm-7 text-right">
      <!-- Open profile -->
      <button routerLink="{{currentUser.url}}" class="btn btn-outline-primary mr-2" [disabled]="!currentUser.url">
        <fa-icon [icon]="['fas', 'home']" class="mr-1"></fa-icon>
        <span i18n>Open Profile</span>
      </button>

      <!-- Profile settings -->
      <button routerLink="/settings" class="btn btn-outline-primary mr-2">
        <fa-icon [icon]="['fas', 'cog']" class="mr-1"></fa-icon>
        <span i18n>Edit Profile</span>
      </button>

      <!-- Delete certificate btn -->
      <button (click)="deleteCertificate()" class="btn btn-outline-danger m-2" *ngIf="currentUser.certificate">
        <fa-icon [icon]="['fas', 'trash']" class="mr-1"></fa-icon>
        <span i18n>Delete Certificate</span>
      </button>
    </div>
  </div>
</div>

<!-- User current tests -->
<div class="container mt-2" *ngIf="userTestsActive && !isLoadingPage">
  <section class="row" *ngIf="userTestsActive">
    <!-- Test Card -->
    <div class="col-lg-6" *ngFor="let test of userTestsActive">
      <app-testcard [test]="test" [deleteMethod]="deleteTestResultFunc"></app-testcard>
    </div>
  </section>
</div>

<!-- User banner -->
<div class="container py-4" *ngIf="!isLoadingPage && currentUser && !isUserAnonymous">
  <app-profile *ngIf="currentUser" [user]="currentUser"></app-profile>
</div>

<!-- User tests -->
<div class="container" *ngIf="!isLoadingPage && currentUser">
  <div class="row">
    <div class="col-12">
      <h3>{{currentUser.name || "Anonymous"}}, <span i18n> your iq tests are displayed below</span>.</h3>
    </div>
  </div>

  <section class="row" *ngIf="userTests">
    <!-- Test Card -->
    <div class="col-lg-6"
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollUpDistance]="1.5"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScrollDown()"
         *ngFor="let test of userTests">
      <app-testcard [test]="test" [deleteMethod]="deleteTestResultFunc"></app-testcard>
    </div>
  </section>

  <div class="row" *ngIf="isLastLoaded">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-info" i18n>All results were loaded successfully.</div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isLoadingResults || isLoadingPage">
  <div class="loader-placeholder">
    <div class="page-loader"></div>
  </div>
</div>
