@import 'src/styles';

/** User home test card **/
.card-container {
  padding: 20px;
}

.test {
  height: 250px;
  padding: 0;
}

.test h2 {
  line-height: 60px;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.test p {
  color: #fff;
}

.jumbotron {
  padding-top: 1.5em;
}

.badge {
  @include border-radius(2em);
}

.certificate-progress {
  height: 25px;
}

/**Responsive**/

@include mobile-lg {
  .card-container {
    min-width: 100%;
  }

  #home-actions {
    text-align: left !important;
  }
}

@include mobile-md {
  #home-actions {
    button {
      font-size: .8rem;
      padding: 5px 8px;
    }
  }
}

@include mobile-sm {
  .badge {
    padding: .5em .4em;
  }
}
