@import 'src/styles';

#iq-user {

    .grid-col-4 {
        width: calc(100% / 3.5);
        @include box-shadow(0, 3px, 6px, rgba(0,0,0,0.16));
    }

    .iq-badge {
        z-index: 1;
        background: orange;
        border-radius: 50%;
        width: 7rem;
        height: 7rem;
        padding: 2rem 0;
        font-size: 1.8em;
        line-height: inherit;
        text-align: center;
        color: #fff;
        left: 65px;
        bottom: 35px;
        border: 2px solid #eee;
    }

    .profile-example {
        @include border-radius(4px);
        overflow: hidden;
        position: relative;
    }

    .profile-hover {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .hover-bg {
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include transition(all, .3s);
    }
}
