@import 'src/styles';

#iq-user {

  .iq-user-body {
    width:300px;
    @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.16));

    .iq-badge {
        left: -25px;
        top: -25px;
    }
  }

  .profile-example {
    @include border-radius(4px);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .profile-hover {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
  }

  .hover-bg {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include transition(all, .3s);
  }
}
