@import 'src/views/_mixins';

.unlockCertificateBlock {
  background: rgba(255,255,255,0.4);
  border-radius: 1em;
}

/** Responsive **/
@include mobile-lg {
    #iq-user > div {
        margin-bottom: 1rem;
        padding: 0;
    }
}
