<!-- User dashboard -->
<div class="container pt-4" *ngIf="!isLoadingPage && currentUser && user && user.uid === currentUser.uid">
  <div class="row">
    <div id="home-actions" class="col text-right">
      <!-- Open profile -->
      <button routerLink="/home" class="btn btn-outline-primary mr-2">
        <fa-icon [icon]="['fas', 'home']" class="mr-1"></fa-icon>
        <span i18n>Open Homepage</span>
      </button>

      <!-- Profile settings -->
      <button routerLink="/settings" class="btn btn-outline-primary mr-2">
        <fa-icon [icon]="['fas', 'cog']" class="mr-1"></fa-icon>
        <span i18n>Edit Profile</span>
      </button>
    </div>
  </div>
</div>

<!-- User banner -->
<div class="bg-user pt-4" *ngIf="!isLoadingPage && user">
  <div class="container">
    <div class="col-12">
      <h1><span i18n>IQ test score for</span> {{user.name}} <span *ngIf="user.location"><span i18n>from</span> {{user.location}}</span></h1>
    </div>
    <app-profile *ngIf="user" [user]="user"></app-profile>
  </div>
</div>

<!-- Loader -->
<div class="container" *ngIf="isLoadingPage">
  <div class="loader-placeholder">
    <div class="page-loader"></div>
  </div>
</div>

<!-- userNotFound -->
<div class="container pt-5" *ngIf="!isLoadingPage && userNotFound">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="text-center text-danger" i18n>Error 404. User not found.</h1>
      </div>
    </div>
  </div>
</div>

<div class="container py-3 text-center">
  <app-big></app-big>
</div>

<!-- User public profile -->
<div class="container p-3" *ngIf="isBrowser && customConfig">
  <!-- Social media share -->
  <share-buttons
    [include]="['facebook','twitter','linkedin','pinterest','reddit','vk','telegram','whatsapp','line']"
    [exclude]="['google','mix','tumblr','linkedin','xing','print','messenger','sms','email','copy']"
    [show]="9"
    [showText]="true"
    [autoSetMeta]="false"
    [theme]="'modern-dark'"
    [image]="customConfig.image"
    [title]="customConfig.title"
    [url]="customConfig.url"
  ></share-buttons>
</div>

<!-- User public tests -->
<div class="container" *ngIf="user && userTests && !isLoadingPage">
  <div class="row">
    <div class="col-12">
      <h3><span i18n>Test IQ result score</span></h3>
    </div>
  </div>

  <section class="row" *ngIf="testTypes">
    <div class="col-lg-6"
         infiniteScroll
         [infiniteScrollDistance]="4"
         [infiniteScrollUpDistance]="1.5"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScrollDown()" *ngFor="let test of userTests">
      <!-- Test card -->
      <div class="card-container" [lazyLoad]="this.testTypes[this.testTypesKeys[test.type]].pic"
           [defaultImage]="'https://img.mega-iq.com/g/assets/iqloader.gif'">

        <!-- Test details -->
        <div class="text-white">
          <h3>{{this.testTypes[this.testTypesKeys[test.type]].name}}</h3>
        </div>

        <div class="badge iq-badge-test test-megaiq position-absolute"
             *ngIf="test.type == testTypeEnum.MEGA_IQ">{{test.points}}</div>
        <div class="badge iq-badge-test test-standard position-absolute"
             *ngIf="test.type == testTypeEnum.STANDARD_IQ">{{test.points}}</div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-8">
              <a routerLink="{{test.url}}" class="btn btn-success btn-block btn-lg mt-2">
                <fa-icon [icon]="['fas', 'share']" class="mr-1"></fa-icon>
                <span i18n>Open Details</span> {{this.testTypes[this.testTypesKeys[test.type]].name}}</a>
            </div>
          </div>
        </div>

        <div class="text-white mt-4" *ngIf="test.finishDate">
          <span i18n>Finished at</span>: {{test.finishDate | date:'medium'}}
        </div>
      </div>
    </div>
  </section>

  <div class="row mt-4" *ngIf="isLastLoaded">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-info" i18n>All results were loaded successfully.</div>
    </div>
  </div>
</div>
