<!-- User public profile -->

<div class="p-3" *ngIf="isBrowser">
  <!-- Social media share -->
  <share-buttons
    [include]="['facebook','twitter','linkedin','pinterest','reddit','vk','telegram','whatsapp','xing','line','sms','email','print','copy']"
    [exclude]="['google','mix','tumblr', 'messenger']"
    [show]="7"
    [showText]="true"
    [autoSetMeta]="false"
    [theme]="'modern-dark'"
    [image]="customConfig.image"
    [title]="customConfig.title"
  ></share-buttons>
</div>

<!-- User banner -->
<div class="bg-user {{user.background != null ? user.background : 'bg-default'}}" *ngIf="!isLoadingPage">
  <div class="container py-5">
    <div class="p-1 text-right" *ngIf="currentUser && user.uid === currentUser.uid">
      <!-- Open profile -->
      <button routerLink="/home" class="btn btn-outline-primary mr-2">
        <fa-icon [icon]="['fas', 'home']" class="mr-1"></fa-icon>
        <span i18n>Open Profile</span>
      </button>

      <!-- Profile settings -->
      <button routerLink="/settings" class="btn btn-outline-primary mr-2">
        <fa-icon [icon]="['fas', 'cog']" class="mr-1"></fa-icon>
        <span i18n>Edit Profile</span>
      </button>
    </div>
    <app-profile *ngIf="user" [user]="user"></app-profile>
  </div>
</div>

<!-- Loader -->
<div class="container" *ngIf="isLoadingPage">
  <div class="loader-placeholder">
    <div class="page-loader"></div>
  </div>
</div>

<!-- User public tests -->
<div class="container mt-4" *ngIf="user && userTests && !isLoadingPage">
  <div class="row">
    <div class="col-12">
      <h1>{{user.name}} <span i18n>latest passed iq tests</span></h1>
    </div>
  </div>

  <section class="row" *ngIf="testTypes">
    <div class="col-lg-6"
         infiniteScroll
         [infiniteScrollDistance]="4"
         [infiniteScrollUpDistance]="1.5"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScrollDown()" *ngFor="let test of userTests">
      <!-- Test card -->
      <div class="card-container" [lazyLoad]="this.testTypes[this.testTypesKeys[test.type]].pic" [defaultImage]="'https://img.mega-iq.com/g/assets/iqloader.gif'">

        <!-- Test details -->
        <div class="text-white">
          <h1>{{this.testTypes[this.testTypesKeys[test.type]].name}}</h1>
        </div>

        <div class="badge iq-badge-test test-megaiq position-absolute"
             *ngIf="test.type == testTypeEnum.MEGA_IQ">{{test.points}}</div>
        <div class="badge iq-badge-test test-standard position-absolute"
             *ngIf="test.type == testTypeEnum.STANDARD_IQ">{{test.points}}</div>

        <div class="row">
          <div class="col-md-6">
            <a routerLink="{{test.url}}" class="btn btn-success btn-block btn-lg mt-2">
              <fa-icon [icon]="['fas', 'share']" class="mr-1"></fa-icon>
              <span i18n>Open Details</span></a>
          </div>
        </div>

        <div class="text-white mt-4" *ngIf="test.finishDate">
          <span i18n>Finished at</span>: {{test.finishDate | date:'medium'}}
        </div>
      </div>
    </div>
  </section>

  <div class="row" *ngIf="isLastLoaded">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-info" i18n>All results were loaded successfully.</div>
    </div>
  </div>
</div>
