<!-- User profile settings -->
<div class="container pt-3">
  <div class="row">
      <!-- Profile form -->
    <form class="col" *ngIf="!isLoading" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="jumbotron">
        <div class="row">
          <div class="col-lg-7">
            <h2 i18n>Edit profile</h2>
            <div class="form-group required">
              <label for="email" i18n>Email</label>
              <input type="text" id="email" formControlName="email" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                <!-- Email verification -->
              <div *ngIf="currentUser.isEmailVerified; else elseIsEmailVerified">
                <p class="text-success" i18n>Email is verified</p>
              </div>
              <ng-template #elseIsEmailVerified>
                <p class="text-danger" i18n>Email not verified</p>
                <p>
                  <button [disabled]="loading || uploading" class="btn btn-outline-info btn-sm" (click)="sendVerifyEmail()">
                    <fa-icon [icon]="['fas', 'envelope']" class="mr-1"></fa-icon>
                    <span i18n>Send Verification Email</span>
                  </button>
                  <img *ngIf="loading" class="pl-3"
                       src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </p>
              </ng-template>

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" i18n>Email is required</div>
                <div *ngIf="f.email.errors.email" i18n>Email is not valid</div>
              </div>
            </div>
            <!-- User details -->
            <div class="form-group required">
              <label for="name" i18n>Name</label>
              <input type="text" id="name" formControlName="name" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required" i18n>Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="age" i18n>Age</label>
              <input type="text" id="age" formControlName="age" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="location" i18n>Location</label>
              <div class="input-group mb-3">
                <input type="text" id="location" formControlName="location" placeholder="Location" class="form-control"/>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="detectLocation()">
                    <fa-icon [icon]="['fas', 'search-location']"></fa-icon>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" id="isPublic" formControlName="isPublic" class="form-check-input" value="1"/>
                <label class="form-check-label" for="isPublic" i18n>Profile is public</label>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" id="isUnsubscribed" formControlName="isUnsubscribed" class="form-check-input"
                       value="1"/>
                <label class="form-check-label" for="isUnsubscribed" i18n>Disable all email notifications</label>
              </div>
            </div>

            <!-- User background banner -->
            <div class="form-group">
                <label>Profile Background:
                    <span class="text-secondary" *ngIf="currentUser.background != null">{{currentUser.background.replace('custom-bg', '')}}</span>
                    <span class="text-secondary" *ngIf="currentUser.background == null">Default</span>
                </label>
                <div class="custom-bg-grid w-100">
                    <ul class="row m-0 p-1 justify-content-around">
                        <li *ngFor="let color of bgPicker; index as i">
                            <input type="radio" formControlName="background" id="bg-{{i}}" value="{{color}}">
                            <label for="bg-{{i}}" class="box p-4 m-1 position-relative {{color}}"></label>
                        </li>
                    </ul>
                </div>
            </div>

            <input type="hidden" id="id" formControlName="id"/>
          </div>
          <!-- User profile image -->
          <div class="col-lg-5">
            <div class="form-group" *ngIf="currentUser.pic">
              <label i18n>Current image</label>
              <div class="input-group mb-3">
                <img src="{{currentUser.pic}}=s300-c" class="img-thumbnail mx-auto my-0">
              </div>
            </div>
            <!-- Upload new -->
            <div class="form-group">
              <label for="uploadPic" i18n>Upload new image</label>
              <input type="file" id="uploadPic" class="form-control" (change)="handleFileInput($event.target.files)"/>
              <span *ngIf="uploading" class="uploader"></span>
              <span *ngIf="uploading" class="pl-3 text-muted">Image is loading... please wait</span>
              <img *ngIf="uploadPic" src="{{this.uploadPic}}" class="img-thumbnail">
            </div>
            <!-- Image select -->
            <div class="form-group">
                <label i18n>Image</label>
                <div class="input-group mb-3">
                    <div class="card">
                    <div class="card-body">
                        <div class="row no-gutters">
                        <label class="col" *ngFor="let avatar of avatarsDefault">
                            <input type="radio" formControlName="pic" value="{{avatar}}">
                            <img src="{{avatar}}=s60-c" class="img-avatar-small">
                        </label>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Save / cancel -->
            <div class="form-group mt-5">
                <button [disabled]="loading || uploading" class="btn btn-primary float-right" id="save-changes">
                    <fa-icon *ngIf="!loading" [icon]="['fas', 'save']" class="mr-1"></fa-icon>
                    <span *ngIf="!loading" i18n>Save changes</span>
                    <span *ngIf="loading" class="actn-loader"></span>
                </button>
                <a routerLink="/user/{{currentUser.id}}" class="btn btn-link float-right" i18n>Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Loader -->
<div class="container" *ngIf="isLoading">
  <div class="row">
    <div class="col">
      <div class="jumbotron loader-placeholder">
        <div class="page-loader"></div>
      </div>
    </div>
  </div>
</div>
