@import 'src/views/_mixins';

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
  margin-right: 5px;
}

[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.card-body {
  padding: 5px;
  max-height: 200px;
  overflow: scroll;
}

.required label::after {
  content: " *";
  color: red;
}

.btn-outline-secondary {
  padding: 2px 0 2px 5px;
}

#save-changes {
  min-width: 154px;
  min-height: 42px;
}

.loader-placeholder {
  padding: 20rem 2rem;
  min-height: 600px;
}

.custom-bg-grid {
    border: 1px solid rgba(0, 0, 0, 0.125);
    @include border-radius(5px);

    li {
        list-style: none;

        .box {
            cursor: pointer;
        }

        input[type=radio]:focus + label {
            border: 2px solid var(--primary);
        }
    }
}

/** Responsive **/

@include tablet {
    .box {
        padding: 26px;
    }
}

@include mobile {
    .box {
        padding: 30px !important;
    }

    .img-avatar-small {
        width: 63px;
    }
}
