@import 'src/views/_mixins';

/** User profile settings **/
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
  margin-right: 5px;
}

input[type=radio]:checked + img,
input[type=radio]:checked + label {
  outline: 2px solid #f00;
}

.card-body {
  padding: 5px;
}

.required label::after {
  content: " *";
  color: red;
}

#save-changes {
  min-width: 154px;
  min-height: 42px;
}

.custom-bg-grid {
  border: 1px solid rgba(0, 0, 0, 0.125);
  @include border-radius(5px);

  li {
    list-style: none;

    .box {
      cursor: pointer;
      @include border-radius(2px);
    }
  }
}

/** Responsive **/

@include tablet {
  .box {
    padding: 26px;
  }
}

@include mobile-lg {
  .box {
    padding: 30px !important;
  }

  .img-avatar-small {
    width: 63px;
  }
}
