a, a:hover {
  text-decoration: none;
}

/** Page loader **/
.page-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 15px solid rgba(180, 180, 180, .2);
  border-top: 15px solid $colorStandard;
  animation: animate 1s infinite linear;
  z-index: 9999;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/**Action loader **/
.actn-loader:before,
.actn-loader:after,
.actn-loader {
  border-radius: 50%;
  animation-fill-mode: both;
  animation: actn-loader 1.5s infinite ease-in-out;
}

.actn-loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  color: #fff;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
  top: -1em;

  &:before {
    right: 100%;
    animation-delay: -0.32s;
  }

  &:after {
    left: 100%;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
  }
}

@keyframes actn-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 -.2em;
  }
}

/** File upload loader **/
.uploader {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  width: 5em;
  height: 1em;
  border: .05em $colorStandard solid;
  border-radius: .1em;
  background: linear-gradient(-60deg, transparent 0%, transparent 50%, $colorStandard 50%, $colorStandard 75%, transparent 75%, transparent);
  background-size: 1em 2em;
  background-position: 0 0;
  animation: uploader 0.8s infinite linear;
}

@keyframes uploader {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2em 0;
  }
}

/** Test list layout styles **/

.card-container {
  width: 500px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
  @include box-shadow(3px, 3px, 0, rgba(0, 0, 0, .10));
  background-color: white;
  background-size: cover;
  background-position: center;
}

.test-progress {

  progress {
    width: 100%;
    height: 15px;
    margin-top: 10px;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #414241;
  }

  progress::-webkit-progress-bar {
    background: #414241;
  }

  ::-webkit-progress-value {
    background-color: #FDB735;
  }
}

.test-starts,
.test-ends {
    font-size: 13px;
    font-weight: bold;
}
