a, a:hover {
  text-decoration: none;
}

/** Page loader **/
.page-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 15px solid rgba(180, 180, 180, .2);
  border-top: 15px solid $colorStandard;
  animation: animate 1s infinite linear;
  z-index: 1;
}

.loader-placeholder {
  padding: 10rem 2rem;
  position: relative;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/**Action loader **/
.actn-loader:before,
.actn-loader:after,
.actn-loader {
  border-radius: 50%;
  animation-fill-mode: both;
  animation: actn-loader 1.5s infinite ease-in-out;
}

.actn-loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  pointer-events: none;
  color: #fff;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
  top: -1em;

  &:before {
    right: 100%;
    animation-delay: -0.32s;
  }

  &:after {
    left: 100%;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
  }
}

@keyframes actn-loader {
  0%,
  80%,
  100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 -.2em;
  }
}

/** File upload loader **/
.uploader {
  display: inline-block;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
  width: 5em;
  height: 1em;
  border: .05em $colorStandard solid;
  border-radius: .1em;
  background: linear-gradient(-60deg, transparent 0%, transparent 50%, $colorStandard 50%, $colorStandard 75%, transparent 75%, transparent);
  background-size: 1em 2em;
  background-position: 0 0;
  animation: uploader 0.8s infinite linear;
}

@keyframes uploader {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2em 0;
  }
}

/** Test list layout styles **/

.card-container {
  min-width: 450px;
  min-height: 250px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
  @include box-shadow(3px, 3px, 0, rgba(0, 0, 0, .10));
  background-color: white;
  background-size: cover;
  background-position: center;
}

.test-progress {

  progress {
    width: 100%;
    height: 15px;
    margin-top: 10px;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #414241;
  }

  progress::-webkit-progress-bar {
    background: #414241;
  }

  ::-webkit-progress-value {
    background-color: #FDB735;
  }
}

.test-starts,
.test-ends {
  font-size: 13px;
  font-weight: bold;
}

.iq-badge-test {
  z-index: 1000;
  background: #7d8ac0;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  padding: 1.5rem 0;
  font-size: 1.8em;
  line-height: inherit;
  text-align: center;
  color: #fff;
  right: 5px;
  top: 5px;
  border: 1px solid #eee;
}

.iq-badge {
  z-index: 1000;
  background: orange;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  padding: 2rem 0;
  font-size: 1.8em;
  line-height: inherit;
  text-align: center;
  color: #fff;
  left: 0;
  top: 0;
  border: 2px solid #eee;
}

#iq-user {
  .iq-user-body {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.16));

    .iq-badge {
      left: -35px;
      top: -45px;
    }
  }
}


#iq-scores {

  table {
    border-collapse: collapse;
  }

  th {
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
  }

  td, th {
    padding: 1em 1.5em;
    text-align: center;
  }

  th {
    background-color: #2ea879;
  }

  tr {

    &:nth-child(2n-1) {
      background-color: #f5f5f5;
      @include transition(all, .125s, ease-in-out);
    }

    .img-avatar-small {
      @include border-radius(50%);
    }

    &:nth-child(2n-1) {
      background-color: #f5f5f5;
      @include transition(all, .125s, ease-in-out);
    }

    &:hover {
      background-color: rgba(50, 98, 149, .3);
    }
  }
}
