@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin transition($property, $duration, $easing: linear) {
  transition: $property $duration $easing;
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
}

@mixin box-shadow($left, $top, $radius, $color) {
  box-shadow: $left $top $radius $color;
  -webkit-box-shadow: $left $top $radius $color;
  -moz-box-shadow: $left $top $radius $color;
}

@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color) !important;
    background: linear-gradient(to bottom, $start-color, $end-color) !important;
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color) !important;
    background: linear-gradient(to right, $start-color, $end-color) !important;
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color) !important;
    background: radial-gradient(ellipse at center, $start-color, $end-color) !important;
  }
}

$mobile-width-sm: 320px;
$mobile-width-md: 375px;
$mobile-width-lg: 426px;
$desktop-width: 1024px;
$desktop-width-lg: 1920px;

@mixin mobile-sm {
  @media (max-width: $mobile-width-sm) {
    @content;
  }
}

@mixin mobile-md {
  @media (min-width: ($mobile-width-sm + 1)) and (max-width: $mobile-width-md) {
    @content;
  }
}

@mixin mobile-lg {
  @media (min-width: ($mobile-width-md + 1)) and (max-width: $mobile-width-lg) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: ($mobile-width-lg + 1)) and (max-width: $desktop-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: ($desktop-width + 1)) and (max-width: $desktop-width-lg) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: ($desktop-width-lg + 1)) {
    @content;
  }
}

@mixin font-face($font-family, $url, $font-weight, $font-style) {
  /* #{$font-family}-#{$font-weight} */
  @font-face {
    font-family: quote($font-family);
    src: url('#{$url}.eot'); /* IE9 Compat Modes */
    src: url('#{$url}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$url}.woff2') format('woff2'), /* Super Modern Browsers */
    url('#{$url}.woff') format('woff'), /* Modern Browsers */
    url('#{$url}.ttf') format('truetype'), /* Safari, Android, iOS */
    url('#{$url}.svg') format('svg'); /* Legacy iOS */
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
