// Roboto Cyrillic - Latin
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/roboto-v20-cyrillic_latin-regular.svg') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
