/** Custom colors **/
$colorPractice: #6fb4b3;
$colorPracticeLight: lighten($colorPractice, 10%);
$colorPracticeDark: darken($colorPractice, 15%);

$colorStandard: #87d987;
$colorStandardLight: lighten($colorStandard, 10%);
$colorStandardDark: darken($colorStandard, 15%);

$colorMegaIq: #7d8ac0;
$colorMegaIqLight: lighten($colorMegaIq, 10%);
$colorMegaIqDark: darken($colorMegaIq, 15%);

$colorMath: #e8c865;
$colorMathLight: lighten($colorMath, 10%);
$colorMathDark: darken($colorMath, 15%);

$colorGrammar: #d3c1a9;
$colorGrammarLight: lighten($colorMath, 10%);
$colorGrammarDark: darken($colorMath, 15%);

// gradient picker for profile settings
$gradients: (
  "1": (
    fallback: #00F260,
    gradient: (to top, #00F260, #0575E6)
  ),
  "2": (
    fallback: #636363,
    gradient: (to top, #636363, #a2ab58)
  ),
  "3": (
      fallback: #ad5389,
      gradient: (to right, #ad5389, #3c1053)
  ),
  "4": (
      fallback: #fc4a1a,
      gradient: (to right, #fc4a1a, #f7b733)
  ),
  "5": (
      fallback: #800080,
      gradient: (to bottom, #800080, #ffc0cb)
  ),
  "6": (
    fallback: #CAC531,
    gradient: (to bottom, #CAC531, #F3F9A7)
  ),
  "7": (
      fallback: #ff9966,
      gradient: (to left, #ff9966, #ff5e62)
  ),
  "8": (
      fallback: #74ebd5,
      gradient: (to left, #74ebd5, #ACB6E5)
  ),
  "9": (
      fallback: #e1eec3,
      gradient: (to top, #e1eec3, #f05053)
  ),
  "10": (
      fallback: #22c1c3,
      gradient: (to bottom, #22c1c3, #fdbb2d)
  )
);

@each $i, $gradient in $gradients {
    .custom-bg#{$i} {
        background: map-get($gradient, fallback); /* fallback for old browsers */
        background: -webkit-linear-gradient(map-get($gradient, gradient)) !important;
        background: linear-gradient(map-get($gradient, gradient)) !important;
    }
}

/** Custom margins **/
$spacer: 1rem !default;

.mt-6 {
  margin-top: ($spacer * 5);
}

/** Custom positions **/
.pt-6 {
  top: ($spacer * 6);
}

.pt-10 {
  top: ($spacer * 10);
}
