@import '../styles.scss';

.container:first-of-type {
  padding-top: 25px;
}

// #bgMain {
//   background-color: #f8f9fa;
// }

.home-image {
  background-image: url(https://storage.googleapis.com/mega-iq/iqtest/bg-index.jpg);
  @include background-size(cover);
  width: 100%;
  max-height: 41em;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

// .bg-iq-practice {
//   background-size: 100%;
//   background-color: #000 !important;
//   background-image: url(https://storage.googleapis.com/mega-iq/iqtest/bg-big-practice.jpg);
//   background-position: center top;
//   background-repeat: no-repeat;
// }

// .bg-iq-standard {
//   background-size: 100%;
//   background-color: #000 !important;
//   background-image: url(https://storage.googleapis.com/mega-iq/iqtest/bg-big-standard.jpg);
//   background-position: center top;
//   background-repeat: no-repeat;
// }

// .bg-mega-iq {
//   background-size: 100%;
//   background-color: #000 !important;
//   background-image: url(https://storage.googleapis.com/mega-iq/iqtest/bg-big-mega.jpg);
//   background-position: center top;
//   background-repeat: no-repeat;
// }

// .bg-math {
//   background-size: 100%;
//   background-color: #c5bdb4 !important;
//   background-image: url(https://storage.googleapis.com/mega-iq/iqtest/bg-big-math.jpg);
//   background-position: center top;
//   background-repeat: no-repeat;
// }

// .bg-grammar {
//   background-size: 100%;
//   background-color: #d1cdc2 !important;
//   background-image: url(https://storage.googleapis.com/mega-iq/iqtest/bg-big-grammar.jpg);
//   background-position: center top;
//   background-repeat: no-repeat;
// }

.bg-iq-practice {
  @include gradient(#000046, #1cb5e0, horizontal);
}

.bg-iq-standard {
  @include gradient(#283c86, #45a247, horizontal);
}

.bg-mega-iq {
  @include gradient(#642b73, #e62968, horizontal);
}

.bg-math {
    @include gradient(#c0392b, #cd9144, horizontal);
}

.bg-grammar {
    @include gradient(#c02b74, #c19a15, horizontal);
}

#header-mega-iq {
  @include box-shadow(0, 2px, 2px, -2px rgba(0, 0, 0, .2));

  .navbar-brand {
    color: var(--primary) !important;
  }

  .bg-none {
    background: none;
  }

  button.navbar-toggler {
      &:focus {
          outline: none;
      }
  }

  #profile-modal {

    img {
      max-width: 4em;
      max-height: 4em;
      @include border-radius(4em);
    }

    .modal-dialog {
      margin: 10em auto;
    }
  }

  #language-picker {

    button:focus {
      outline: 0;
    }

    .dropdown-menu {
      min-width: 7em;
    }

    img {
      max-width: 1.2em;
      vertical-align: baseline;
    }
  }
}

/** Responsive **/

@include tablet {
    header {
        width: 768px !important;
    }
    .home-image {
        min-width: 768px;
    }
}

@include mobile {

    #bgMain {
        min-width: 22rem;
        background-image: none;
        min-width: 490px;
    }

    #header-mega-iq {
        nav, #navbarCollapse {
            width: 500px;
        }
    }

}

