@import 'src/views/_mixins';

/** Main page styles and navbar styles **/

#bgMain {
  background: #e9f0fa;
  margin-top: 65px;
}

.home-image {
  @include background-size(cover);
  width: 100%;
  max-height: 41em;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #f8f9fa;
}

#header-mega-iq {
  .navbar {
    background-size: 150px 85px;
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  @include gradient(#ccd9ea, #e9f0fa, vertical);

  button.navbar-toggler {
    &:focus {
      outline: none;
    }
  }

  #language-picker {

    button {
      background: rgb(179, 200, 219, 0.4);
    }

    button:focus {
      outline: 0;
    }

    .dropdown-menu {
      min-width: 7em;
    }

    img {
      max-width: 1.2em;
      vertical-align: baseline;
    }
  }
}

/** Responsive **/
@include tablet {
  .dropdown-locale {
    margin-left: -50px;
  }
}

@include desktop {
  .dropdown-locale {
    margin-left: -50px;
  }

  #bgMain {
    margin-top: 80px;
  }
}

// fix parallax bug on iOS tablet devices
@media screen and (max-width: 991px) {
  .home-image {
    background-attachment: scroll;
  }
}

@include mobile-lg {

  .home-image {
    background-image: url(https://img.mega-iq.com/g/about/img/bg-index-sm.jpg);
    margin-top: 4.5rem;
    background-attachment: scroll;
  }

}

