<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/" i18n>Mega-IQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">IQ Tests</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Start IQ test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Best Results</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- nav -->
<nav class="navbar navbar-expand navbar-light" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" i18n>Home</a>
  </div>
  <div class="navbar-nav navbar-right">
    <a class="nav-item nav-link" routerLink="/" i18n>Home</a>
    <a class="nav-item nav-link" (click)="logout()" i18n>Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    xxx
  </p>
</div>
