@import '../styles.scss';

.container:first-of-type {
  padding-top: 25px;
}

.home-image {
  background-image: url(https://storage.googleapis.com/mega-iq/iqtest/bg-index.jpg);
  @include background-size(cover);
  width: 100%;
  max-height: 41em;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-iq-practice {
  @include gradient(#000046, #1cb5e0, horizontal);
}

.bg-iq-standard {
  @include gradient(#283c86, #45a247, horizontal);
}

.bg-mega-iq {
  @include gradient(#642b73, #e62968, horizontal);
}

.bg-math {
    @include gradient(#c0392b, #cd9144, horizontal);
}

.bg-grammar {
    @include gradient(#c02b74, #c19a15, horizontal);
}

#header-mega-iq {
  @include box-shadow(0, 2px, 2px, -2px rgba(0, 0, 0, .2));

  .navbar-brand {
    color: var(--primary) !important;
  }

  .bg-none {
    background: none;
  }

  button.navbar-toggler {
      &:focus {
          outline: none;
      }
  }

  #profile-modal {

    img {
      max-width: 4em;
      max-height: 4em;
      @include border-radius(4em);
    }

    .modal-dialog {
      margin: 10em auto;
    }
  }

  #language-picker {

    button:focus {
      outline: 0;
    }

    .dropdown-menu {
      min-width: 7em;
    }

    img {
      max-width: 1.2em;
      vertical-align: baseline;
    }
  }
}

/** Responsive **/

@include tablet {

}

@include mobile {

    .site-wrapper {
        overflow-x: hidden;
    }

    .home-image {
        background-image: url(assets/img/bg-index-sm.png);
    }

}

