<!-- nav -->
<nav class="navbar navbar-expand navbar-light" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" i18n>Home</a>
    <a class="nav-item nav-link" (click)="logout()" i18n>Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    xxx
  </p>
</div>
