<div class="row">
  <div class="col text-center">
   <div class="jumbotron">
     <div id="counter" style="margin:2em;"></div>
   </div>
  </div>
  <div class="col-md-4">
    <p>
      <a routerLink="/" class="btn btn-link">index</a>
      <a routerLink="/home" class="btn btn-link">user home</a>
      <a routerLink="/login" class="btn btn-link">login</a>
      <a routerLink="/register" class="btn btn-link">register</a>
    </p>
  </div>

  <div class="col-md-6">
    <div class="jumbotron">
      <h3>Mega IQ Ever</h3>

      <div class="media" *ngFor="let user of usersTop">
        <div class="mr-3">
          <img class="img-avatar-small" src="{{user.pic}}=s60-c" alt="{{user.name}} IQ {{user.iq}}">
        </div>
        <div class="media-body">
          <h5 class="mt-0"><a routerLink="{{user.url}}">{{user.name}}</a></h5>
          <p>{{user.location}}, {{user.age}}</p>
        </div>
        <div class="ml-3">
          {{user.iq}}
        </div>
        <div class="ml-3">
          {{user.totalScore}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="jumbotron">
      <h3>Best IQ today</h3>

      <div class="media" *ngFor="let user of usersList">
        <div class="mr-3">
          <img class="img-avatar-small" src="{{user.pic}}=s60-c" alt="{{user.name}} IQ {{user.iq}}">
        </div>
        <div class="media-body">
          <h5 class="mt-0"><a routerLink="{{user.url}}">{{user.name}}</a></h5>
          <p>{{user.location}}, {{user.age}}</p>
        </div>
        <div class="ml-3">
          {{user.iq}}
        </div>
      </div>
    </div>
  </div>
</div>
