@import 'src/views/_mixins.scss';

/* Hero Home */
#home {

  #counter {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  min-height: 650px;

  .flip-clock-wrapper {
    margin: 10em 0 5em;
  }
}

/* Start test on home */
.test-start-btn {
  font-size: 1.4em;
  font-weight: bold;
  font-style: normal;
  @include transition(all, .3s, ease-in-out);
  padding: 1rem 3rem;
  @include border-radius(2em);
  border: 1px solid var(--primary);

  &:hover {
    @include box-shadow(0, 10px, 40px, 0 rgba(0, 0, 0, 0.2) !important);
    color: #333333;
    background-color: #ffffff;
    border-color: #ffffff;
  }
}

/* Public users carousel */
#user-example {
  overflow-x: hidden;

  .owl-carousel {
    margin: 0;
    padding: 0;

    .owl-stage-outer {
      overflow: visible;
    }
  }
}

#test-section {

  a {
    vertical-align: middle;
  }
}

/** Responsive **/

@include tablet {
  .test-start-btn {
    background: #fff;
  }
}

/** Mobile (xs-l) **/

@include mobile-lg {
  #home {
    .flip-clock-wrapper {
      margin: 3em 0 1em;
    }

    .flip-clock-wrapper ul {
      margin: 3px;
      width: 45px;
      height: 60px;
      font-size: 50px;
      font-weight: bold;
      line-height: 67px;
      border-radius: 6px;
    }

    .flip-clock-wrapper ul li {
      line-height: 67px;
    }

    .flip-clock-wrapper ul li a div {
      font-size: 50px;
    }

    .test-start-btn {
      background: #fff;
    }
  }
}

@include mobile-md {
  #home {
    .flip-clock-wrapper {
      margin: 3em 0 1em;
    }

    .flip-clock-wrapper ul {
      margin: 3px;
      width: 45px;
      height: 60px;
      font-size: 50px;
      font-weight: bold;
      line-height: 67px;
      border-radius: 6px;
    }

    .flip-clock-wrapper ul li {
      line-height: 67px;
    }

    .flip-clock-wrapper ul li a div {
      font-size: 50px;
    }

    .test-start-btn {
      background: #fff;
    }
  }
}


@include mobile-sm {
  #home {
    .flip-clock-wrapper {
      margin: 3em 0 1em;
    }

    .flip-clock-wrapper ul {
      margin: 2px;
      width: 30px;
      height: 45px;
      font-size: 32px;
      font-weight: bold;
      line-height: 42px;
      border-radius: 6px;
    }

    .flip-clock-wrapper ul li {
      line-height: 42px;
    }

    .flip-clock-wrapper ul li a div {
      font-size: 32px;
    }

    .test-start-btn {
      background: #fff;
    }
  }

}

