<section id="home">
    <div class="container-fluid d-flex flex-column">
        <div class="container mt-2 text-left">
          <share-buttons [include]="['facebook','twitter','vk','telegram','messenger','whatsapp','pinterest','reddit','line','sms','email','copy']"
                         [exclude]="['google','mix','tumblr','linkedin','xing','print']"
                         [show]="6"
                         [autoSetMeta]="true"
                         [theme]="'modern-light'"
          ></share-buttons>
        </div>
        <h1 class="text-center position-relative pt-10 text-white" i18n>Join the Mega IQ now! IQ Tests Passed</h1>
        <div class="test-start-btn position-relative align-self-center">
            <a routerLink="/iqtest/" i18n>Start The IQ Test</a>
        </div>
        <div id="counter" class="px-4 d-flex justify-content-center"></div>
    </div>
</section>

<section id="iq-scores" class="container d-flex justify-content-between my-5">

    <div>
        <h3 class="text-center mb-3" i18n>Mega IQ Ever</h3>
        <table class="w-100 bg-white table-hover">
            <thead>
                <tr>
                    <th i18n>User</th>
                    <th i18n>Age</th>
                    <th i18n>Location</th>
                    <th i18n>IQ</th>
                    <th i18n>Total Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersTop" routerLink="{{user.url}}">
                    <td><img class="img-avatar-small" src="{{user.pic}}=s60-c" alt="{{user.name}} IQ {{user.iq}}"></td>
                    <td>{{user.age || '-'}}</td>
                    <td>{{user.location || '-'}}</td>
                    <td>{{user.iq || '-'}}</td>
                    <td>{{user.totalScore || '-'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3 class="text-center mb-3" i18n>Best IQ Today</h3>
        <table class="w-100 bg-white table-hover">
            <thead>
                <tr>
                    <th i18n>User</th>
                    <th i18n>Age</th>
                    <th i18n>Location</th>
                    <th i18n>IQ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList" routerLink="{{user.url}}">
                    <td><img class="img-avatar-small" src="{{user.pic}}=s60-c" alt="{{user.name}} IQ {{user.iq}}"></td>
                    <td>{{user.age || '-'}}</td>
                    <td>{{user.location || '-'}}</td>
                    <td>{{user.iq || '-'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</section>

<section id="user-example" class="container my-5">
    <div class="clearfix">
        <h2 class="text-center" i18n>Example profile</h2>
    </div>
    <owl-carousel [options]="carouselOptions" [items]="userExamples" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div *ngFor="let userExample of userExamples">
            <app-avatar *ngIf="userExample" [user]="userExample"></app-avatar>
        </div>
    </owl-carousel>
</section>

<section id="test-section" class="d-flex flex-wrap" *ngIf="testTypes">
  <div class="card-container d-flex flex-column px-5" *ngFor="let item of testTypes | keyvalue"
       [ngStyle]="{'background-image': 'url(' + item.value.pic + ')'}">
    <div class="course-title text-white">
      <h1>{{item.value.name}}</h1>
    </div>
    <div class="course-title text-white">
      <p>{{item.value.description}}</p>
    </div>
    <button class="btn btn-lg btn-{{item.value.styleName}} w-50 align-self-center mt-3">
      <a class="text-white" routerLink="{{item.value.url}}" i18n>Start Test</a>
    </button>
  </div>
</section>
