@import 'src/styles';

#home {

  min-height: 650px;

  .flip-clock-wrapper {
    margin: 10em 0 5em;
  }
}

.test-start-btn {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  @include transition(all, .3s, ease-in-out);
  word-break: break-word;
  padding: 1rem 3rem;
  cursor: pointer;
  @include border-radius(5em);
  top: 20em;
  border: 1px solid var(--primary);

  &:hover {
    @include box-shadow(0, 10px, 40px, 0 rgba(0, 0, 0, 0.2) !important);
    color: #333333;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  a {
    font-size: 1.2em;
  }
}

#test-section {
  //   .card-container {
  //     width: 30em;
  //     height: 17em;
  //   }

  a {
    vertical-align: middle;
  }
}

/** Responsive **/

@include tablet {
  #iq-scores {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/** Mobile (xs-l) **/

@include mobile {
  #iq-scores {
    flex-direction: column;
  }

  #home {
    .flip-clock-wrapper {
      margin-bottom: 14rem;
    }
  }

  #iq-scores {
    td, th {
      padding: 10px;
    }
  }
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}
