@import 'src/views/_mixins';

/** chart js canvas **/
canvas {
  width: 100% !important;
  height: auto !important;
}

/** Responsive **/
@include tablet {
  .jumbotron {
    padding: 4rem 15px !important;
  }
}

@include mobile-lg {
  .jumbotron {
    max-width: 100%;
  }
}
