@import 'src/views/_mixins';

/** chart js canvas **/
canvas {
  width: 100% !important;
  height: auto !important;
}

.icon-answer-result {
  font-size: 26px;
  line-height: 26px;
}

.icon-answer-complexity {
  font-size: 26px;
  line-height: 26px;
  color: #b76ec5;
}


/** Responsive **/
@include tablet {
  .icon-answer-complexity {
    font-size: 16px;
    line-height: 16px;
  }
}

@include mobile-lg {
  .icon-answer-complexity {
    font-size: 14px;
    line-height: 14px;
  }
}

@include mobile-md {
  .icon-answer-complexity {
    font-size: 12px;
    line-height: 12px;
  }
}

@include mobile-sm {
  .icon-answer-complexity {
    font-size: 12px;
    line-height: 12px;
  }
}
