@import 'src/views/_mixins';

/** chart js canvas **/
canvas {
  width: 100% !important;
  height: auto !important;
}

.icon-answer-result {
  font-size: 26px;
  line-height: 26px;
}

.icon-answer-complexity {
  font-size: 26px;
  line-height: 26px;
  color: #b76ec5;
}

/** Responsive **/
@include tablet {
  .jumbotron {
    padding: 4rem 15px !important;
  }
}

@include mobile-lg {
  .jumbotron {
    max-width: 100%;
  }
}
