/* You can add global styles to this file, and also import other style files */

body {
}

.feather {
  width: 28px;
  height: 28px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-right:5px;
}

.jumbotron {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: .375rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.img-avatar {
  width: 300px;
  max-height: 300px;
}

.img-avatar-small {
  width: 60px;
  max-height: 60px;
}
