/* You can add global styles to this file, and also import other style files */
@import 'views/mixins';
@import 'views/variables';
@import 'views/base';
@import 'views/typography';
@import '~@ngx-share/button/themes/modern/modern-light-theme';
@import '~@ngx-share/button/themes/modern/modern-dark-theme';

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.feather {
  width: 28px;
  height: 28px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-right: 5px;
}

.jumbotron {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: .375rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.img-avatar {
  width: 300px;
  max-height: 100%;
}

.img-avatar-small {
  width: 60px;
  height: 60px;
}

.test-practice {
  border-color: $colorPracticeDark;
  background-color: $colorPractice;
}

.btn-practice {
  border-color: $colorPractice;
  background-color: $colorPractice;
  border-bottom: 5px $colorPracticeDark solid;
}

.btn-practice:hover {
  background-color: $colorPracticeLight;
  border-bottom: 5px $colorPracticeDark solid;
}

.test-standard {
  border-color: $colorStandardDark;
  background-color: $colorStandard;
}

.btn-standard {
  border-color: $colorStandard;
  background-color: $colorStandard;
  border-bottom: 5px $colorStandardDark solid;
}

.btn-standard:hover {
  background-color: $colorStandardLight;
  border-bottom: 5px $colorStandardDark solid;
}

.test-megaiq {
  border-color: $colorMegaIqDark;
  background-color: $colorMegaIq;
}

.btn-megaiq {
  border-color: $colorMegaIq;
  background-color: $colorMegaIq;
  border-bottom: 5px $colorMegaIqDark solid;
}

.btn-megaiq:hover {
  background-color: $colorMegaIqLight;
  border-bottom: 5px $colorMegaIqDark solid;
}

.test-math {
  border-color: $colorMathDark;
  background-color: $colorMath;
}

.btn-math {
  border-color: $colorMath;
  background-color: $colorMath;
  border-bottom: 5px $colorMathDark solid;
}

.btn-math:hover {
  background-color: $colorMathLight;
  border-bottom: 5px $colorMathDark solid;
}

.test-grammar {
  border-color: $colorGrammarDark;
  background-color: $colorGrammar;
}

.btn-grammar {
  border-color: $colorGrammar;
  background-color: $colorGrammar;
  border-bottom: 5px $colorGrammarDark solid;
}

.btn-grammar:hover {
  background-color: $colorGrammarLight;
  border-bottom: 5px $colorGrammarDark solid;
}

.bg-user {
  background-size: 100%;
  background-color: #000 !important;
  background-position: center top;
  background-repeat: no-repeat;
}

.bg-standard {
    @include gradient(#fc4a1a, #f7b733, horizontal);
}


.bg-practice {
  @include gradient(#000046, #1cb5e0, horizontal);
}

.bg-standard {
  @include gradient(#283c86, #45a247, horizontal);
}

.bg-megaiq {
  @include gradient(#642b73, #e62968, horizontal);
}

.bg-math {
  @include gradient(#c0392b, #cd9144, horizontal);
}

.bg-grammar {
  @include gradient(#c02b74, #c19a15, horizontal);
}

@include mobile-lg {
    .sb-group {
        button {
            font-size: 9px !important;
        }
    }
}
