/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": #3f79ad
);
@import "../node_modules/bootstrap/scss/bootstrap";

@import 'views/mixins';
@import 'views/variables';
@import 'views/base';
@import 'views/typography';

@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/modern/modern-dark-theme';

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.feather {
  width: 28px;
  height: 28px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-right: 5px;
}

.jumbotron {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: .375rem;
  @include box-shadow(0px, 3px, 15px, rgba(0, 0, 0, 0.2));
}

.btn-rounded {
  @include border-radius(2em);
}

.img-avatar {
  width: 300px;
  height: 300px;
}

.img-avatar-small {
  width: 60px;
  height: 60px;
}

.test-practice {
  border-color: $colorPracticeDark;
  background-color: $colorPractice;
}

.btn-practice {
  border-color: $colorPractice;
  background-color: $colorPractice;
  border-bottom: 5px $colorPracticeDark solid;
}

.btn-practice:hover {
  background-color: $colorPracticeLight;
  border-bottom: 5px $colorPracticeDark solid;
}

.test-standard {
  border-color: $colorStandardDark;
  background-color: $colorStandard;
}

.btn-standard {
  border-color: $colorStandard;
  background-color: $colorStandard;
  border-bottom: 5px $colorStandardDark solid;
}

.btn-standard:hover {
  background-color: $colorStandardLight;
  border-bottom: 5px $colorStandardDark solid;
}

.test-megaiq {
  border-color: $colorMegaIqDark;
  background-color: $colorMegaIq;
}

.btn-megaiq {
  border-color: $colorMegaIq;
  background-color: $colorMegaIq;
  border-bottom: 5px $colorMegaIqDark solid;
}

.btn-megaiq:hover {
  background-color: $colorMegaIqLight;
  border-bottom: 5px $colorMegaIqDark solid;
}

.test-math {
  border-color: $colorMathDark;
  background-color: $colorMath;
}

.btn-math {
  border-color: $colorMath;
  background-color: $colorMath;
  border-bottom: 5px $colorMathDark solid;
}

.btn-math:hover {
  background-color: $colorMathLight;
  border-bottom: 5px $colorMathDark solid;
}

.test-grammar {
  border-color: $colorGrammarDark;
  background-color: $colorGrammar;
}

.btn-grammar {
  border-color: $colorGrammar;
  background-color: $colorGrammar;
  border-bottom: 5px $colorGrammarDark solid;
}

.btn-grammar:hover {
  background-color: $colorGrammarLight;
  border-bottom: 5px $colorGrammarDark solid;
}

.bg-user {
  background-size: 100%;
  background-color: #000 !important;
  background-position: center top;
  background-repeat: no-repeat;
}

.bg-default {
  @include gradient(#fc4a1a, #f7b733, horizontal);
}

.bg-practice {
  @include gradient(#000046, #1cb5e0, horizontal);
}

.bg-standard {
  @include gradient(#283c86, #45a247, horizontal);
}

.bg-megaiq {
  @include gradient(#642b73, #e62968, horizontal);
}

.bg-math {
  @include gradient(#c0392b, #cd9144, horizontal);
}

.bg-grammar {
  @include gradient(#c02b74, #c19a15, horizontal);
}

.bg-light-gradient {
  @include gradient(#ffffff, #f8f9fa, vertical);
}

.bg-blank {
  background-image: none !important;
}

/** User profile card **/
#iq-user {
  .iq-user-body {
    width: 300px;
    @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.16));
  }

  .profile-example {
    @include border-radius(4px);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .profile-hover {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
  }

  .hover-bg {
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include transition(all, .3s);
  }
}

@include desktop {
  .card-container {
    max-width: 550px;
    min-height: 300px;
  }
}

@include mobile-lg {
  .card-container {
    max-width: 415px;
    min-height: 250px;
    padding: 20px;
    margin: 15px auto;
  }

  #iq-scores {
    table {
      th, td {
        padding: 10px 15px;
      }
    }
  }

  .img-avatar {
    width: 100% !important;
    height: auto;
  }

  .iq-user-body {
    width: 100% !important;
  }
}

@include mobile-md {
  .card-container {
    max-width: 365px;
    min-height: 200px;
    padding: 10px;
    margin: 10px auto;
  }

  #iq-scores {
    table {
      th, td {
        padding: 10px 9px;
      }
    }
  }
}

@include mobile-sm {
  .card-container {
    max-width: 310px;
    min-height: 200px;
    padding: 10px;
    margin: 5px auto;
  }

  #iq-scores {
    table {
      th, td {
        padding: 10px 4px;
      }
    }
  }
}
