<div class="container pt-4" *ngIf="activeTest">
  <div class="row">
    <div class="col-md-4">
      <!-- Switch between all questions (tablet and desktop only) -->
      <div class="jumbotron py-4 mb-4">
        <h4>{{activeTestName}}
          <span class="badge"
                [ngClass]="{ 'badge-success': activeTest.status === testStatus.FINISHED, 'badge-primary': activeTest.status === testStatus.ACTIVE, 'badge-secondary': activeTest.status === testStatus.EXPIRED}">{{activeTest.status}}</span>
        </h4>
        <div class="text-muted test-progress mb-2">
          <p i18n class="mb-1">Current test progress</p>
          <progress class="w-100" value="{{activeTest.progress}}" max="100" role="progressbar"></progress>
        </div>
        <p>
          <span i18n>Started</span>: {{activeTest.createDate | date:'medium'}}
        </p>
        <p *ngIf="activeTest.points">
          <span i18n>Result</span>: {{activeTest.points}}
        </p>
        <div *ngIf="activeTest.finishDate" class="text-muted">
          <h4>
            <fa-icon [icon]="['fas', 'check']" class="mr-1"></fa-icon>
            <span i18n>Test finished</span>
          </h4>
          <h4 class="text-info">
            {{activeTest.finishDate | date:'medium'}}
          </h4>
        </div>
      </div>
      <div class="card">
        <div class="card-progress position-absolute" [ngStyle]="{'width' : remainingTimeBar + '%'}"
             [ngClass]="{'card-progress-ok' : remainingTimeBar <= 70, 'card-progress-info' : remainingTimeBar > 70 && remainingTimeBar < 90, 'card-progress-danger' : remainingTimeBar >= 90}"></div>
        <div class="card-body text-center bg-white">
          <span i18n>Time remaining:</span> {{ remainingTime | date:'mm:ss' }}
        </div>
      </div>
    </div>
    <div class="col-md-8 d-none d-md-block d-lg-block d-xl-block">
      <div class="jumbotron py-4 pr-0">
        <p class="text-muted" i18n>Click to navigate questions</p>
        <p class="d-flex flex-wrap">
        <span class="btn m-2 set-question rounded-circle" *ngFor="let question of activeTest.questionSet; index as index"
              (click)="setQuestion(index + 1)"
              [ngClass]="{ 'set-question-active': index === activeQuestionId - 1, 'set-question-answered': question.answerUser }"
        >{{index + 1}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="activeTestCompleted && !activeTest.finishDate" style="background-color: #d4edda;">
  <div class="container py-4 text-center">
    <!-- submit finish button -->
    <div class="col-md-8 offset-md-2">
      <h3 i18n>The test is finished. Please press the submit button to submit your result.</h3>
      <button class="btn btn-primary btn-block btn-lg my-3" (click)="submitFinish(activeTest.code)" [disabled]="loading">
        <fa-icon *ngIf="!loading" [icon]="['fas', 'x-ray']" class="mr-1"></fa-icon>
        <span *ngIf="!loading" i18n>Submit test</span>
        <span *ngIf="loading" class="actn-loader"></span>
      </button>
    </div>
  </div>
</div>

<div class="container py-4" *ngIf="activeTest">
  <div class="jumbotron question-title">
    <!-- Question title -->
    <span class="text-muted mr-2"><span
      i18n>Question</span>&nbsp;#{{activeQuestionId}}</span> {{activeQuestion.title}}
  </div>
</div>

<div class="container-fluid pt-1" *ngIf="activeTest">
  <div class="row">

    <!-- Question description -->
    <div class="col-md-12" *ngIf="activeQuestion.description">
      <p class="my-5">
        <fa-icon [icon]="['fas', 'question']" class="mr-1"></fa-icon>
        {{activeQuestion.description}}
      </p>
    </div>

    <div class="col-md-6 text-center">

      <!-- Shows active question -->
      <img class="w-100" *ngIf="!updating" src="{{activeQuestion.pic}}" srcset="{{activeQuestion.pic2x}} 2x">
      <div *ngIf="updating" class="page-loader position-relative mt-6"></div>

    </div>
    <div class="col-md-6">
      <!-- Possible answers set -->
      <div class="row">
        <div class="col-md-12" *ngIf="activeTest.status === testStatus.ACTIVE">
          <div class="position-absolute">
            <div class="position-relative py-3 px-5 answer-submit-loader" *ngIf="loading">
        <span class="submit-answer position-relative">
        <span class="px-4 text-muted" i18n>Submitting your answer, please wait</span>
        <span class="actn-loader text-muted"></span>
        </span>
            </div>
          </div>
        </div>

        <div class="col-4" *ngFor="let answer of activeQuestion.answers"
             [ngClass]="{'answer': activeTest.status === testStatus.ACTIVE, 'answer-active': answer.id === activeQuestion.answerUser, 'answer-correct': answer.id === activeQuestion.answerCorrect}">
          <div (click)="submitAnswer(activeTest.code, activeQuestionId, answer.id)"
               *ngIf="activeTest.status === testStatus.ACTIVE" class="btn p-0 w-100">
            <img src="{{answer.pic}}" srcset="{{answer.pic2x}} 2x" class="w-100">
          </div>
          <div *ngIf="activeTest.status === testStatus.FINISHED" class="p-0 w-100">
            <img src="{{answer.pic}}" srcset="{{answer.pic2x}} 2x" class="w-100">
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <span class="text-success"
                *ngIf="activeTest.status === testStatus.ACTIVE && activeQuestion.answerUser"
                i18n>Answer submitted</span>
          <p class="text-muted" *ngIf="activeTest.status === testStatus.ACTIVE && !activeQuestion.answerUser" i18n>Click to submit the answer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3" *ngIf="activeTest">
  <div class="container">
    <div class="row pb-4">
      <!-- Question navigation -->
      <div class="col-sm-6 col-6 px-0">
        <button class="btn btn-outline-primary m-2 p-2" (click)="setQuestion(activeQuestionIdPrev)"
                [disabled]="updating || activeTestCompleted || activeQuestionId <= 1">
          <fa-icon [icon]="['fas', 'chevron-left']" class="mr-1"></fa-icon>
          <span i18n>Previous Question</span>
        </button>
      </div>
      <div class="col-sm-6 col-6 px-0 text-right">
        <button class="btn btn-outline-primary m-2 p-2" (click)="setQuestion(activeQuestionIdNext)"
                [disabled]="updating || activeTestCompleted || activeQuestionId === activeTest.questionSet.length">
          <span i18n>Next Question</span>
          <fa-icon [icon]="['fas', 'chevron-right']" class="ml-1"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mb-3 d-md-none" *ngIf="activeTest">
  <div class="container">
    <!-- Switch between all questions (Mobile only)-->
    <div class="jumbotron py-5">
      <p class="text-muted" i18n>Click to navigate questions</p>
      <p class="d-flex flex-wrap justify-content-between">
        <span class="btn" *ngFor="let question of activeTest.questionSet; index as index"
              (click)="setQuestion(index + 1)"
              [ngClass]="{ 'm-2 set-question rounded-circle': question, 'set-question-active': index === activeQuestionId - 1, 'set-question-answered': question.answerUser }"
        >{{index + 1}}</span>
      </p>
    </div>
  </div>
</div>

<!-- Loader -->
<div class="container" *ngIf="!activeTest">
  <div class="loader-placeholder">
    <div class="page-loader"></div>
  </div>
</div>

