<div class="row">
  <div class="col-md-8">
    <div class="jumbotron py-5">
      <div>
        <h3>{{activeQuestion.title}}</h3>
        <div class="text-center my-3">
          <img src="{{activeQuestion.pic}}" width="470" height="370">
        </div>
        <div class="container my-3">
          <div class="row">
            <div class="col-sm-2 px-0 text-center" *ngFor="let answer of activeQuestion.answers"
                 [ngClass]="{'answer-active': answer.id === activeQuestion.answerUser, 'answer-correct': answer.id === activeQuestion.answerCorrect}">

              <a routerLink="/classroom/{{activeTest.code}}/{{activeQuestionId}}/{{answer.id}}"
                 *ngIf="activeTest.status === testStatus.ACTIVE"><img src="{{answer.pic}}" width="92" height="92"></a>
              <span *ngIf="activeTest.status === testStatus.FINISHED"><img src="{{answer.pic}}" width="92" height="92"></span>
            </div>
            <div class="col-sm-12" style="height:40px;">
              <div *ngIf="loading">
                <img class="pl-3"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                <span class="pl-3 text-muted">Submitting your answer... please wait</span>
              </div>
              <div class="d-none" id="loadingDone">
                <span class="pl-3 text-success">Done!</span>
              </div>
            </div>
            <div class="col-sm-12 card" *ngIf="activeQuestion.description">
              <p class="my-3">
                <svg class="feather">
                  <use xlink:href="/assets/feather-sprite.svg#message-circle"/>
                </svg>
                {{activeQuestion.description}}</p>
            </div>
            <div class="col-sm-6">
              <a class="btn btn-link" routerLink="/classroom/{{activeTest.code}}/{{activeQuestionIdPrev}}"
                 [ngClass]="{'disabled': activeQuestionIdPrev === 0}">Previous Question</a>
            </div>
            <div class="col-sm-6 text-right">
              <a class="btn btn-link" routerLink="/classroom/{{activeTest.code}}/{{activeQuestionIdNext}}"
                 [ngClass]="{'disabled': activeQuestionIdNext === 0}">Next Question</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="jumbotron py-5">
      <h4>Test {{activeTest.type}}
        <span class="badge"
              [ngClass]="{ 'badge-success': activeTest.status === testStatus.FINISHED, 'badge-danger': activeTest.status === testStatus.ACTIVE, 'badge-secondary': activeTest.status === testStatus.EXPIRED}">{{activeTest.status}}</span>
      </h4>
      <p class="mt-3">Navigate questions:</p>
      <p class="mb-5">
        <a *ngFor="let question of activeTest.questionSet; index as index"
           routerLink="/classroom/{{activeTest.code}}/{{index + 1}}"
           [ngClass]="{ 'm-2 set-question rounded-circle': question, 'set-question-active': index === activeQuestionId - 1, 'set-question-answered': question.answerUser }"
        >{{index + 1}}</a>
      </p>
      <p>
        <span>Started</span>: {{activeTest.createDate | date:'medium'}}
      </p>
      <p *ngIf="activeTest.finishDate">
        <span>Finished</span>: {{activeTest.finishDate | date:'medium'}}
      </p>
      <p *ngIf="!activeTest.finishDate" class="text-muted">
        <svg class="feather">
          <use xlink:href="/assets/feather-sprite.svg#info"/>
        </svg>
        <span i18n>Once you submit all answers the test will be finished automatically</span>
      </p>
      <p *ngIf="activeTest.points">
        <span>Result</span>: {{activeTest.points}}
      </p>
    </div>
  </div>
</div>
