[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
  margin-right:5px;
}

[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.card-body {
  padding:5px;
  max-height:200px;
  overflow: scroll;
}

.required label::after {
  content:" *";
  color:red;
}

.jumbotron {
  background: #fff0c3;
  -webkit-box-shadow: 5px 5px 5px #a278ba;
  -moz-box-shadow: 5px 5px 5px #a278ba;
  box-shadow: 5px 5px 5px #a278ba;
}

.btn-outline-secondary {
  padding: 2px 0 2px 5px;
}
