<div class="container pt-4" *ngIf="finishedTest">
  <div class="row">
    <div class="col-md-4">
      <!-- Switch between all questions (tablet and desktop only) -->
      <div class="jumbotron py-4">
        <h4>{{ finishedTestName }}
          <span class="badge badge-success" *ngIf="finishedTest.status">
                        {{ finishedTest.status }}
                    </span>
        </h4>
        <p>
          <span i18n>Started</span>: {{ finishedTest.createDate | date:'medium' }}
        </p>
        <div class="text-muted">
          <h4>
            <fa-icon [icon]="['fas', 'check']" class="mr-1"></fa-icon>
            <span i18n>Test finished</span>
          </h4>
          <h4 class="text-info" *ngIf="finishedTest.finishDate">
            {{ finishedTest.finishDate | date:'medium' }}
          </h4>
        </div>
        <div class="mt-2">
          <a routerLink="{{finishedTest.url}}" class="btn btn-success btn-block btn-rounded btn-lg">
            <fa-icon [icon]="['fas', 'share']" class="mr-1"></fa-icon>
            <span i18n>Open Details</span></a>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-none d-md-block d-lg-block d-xl-block">
      <div class="jumbotron py-4 pr-0">
        <p class="text-muted" i18n>Click to navigate questions</p>
        <p class="d-flex flex-wrap">
                    <span class="btn" *ngFor="let question of finishedTest.questionSet; index as index"
                          (click)="setQuestion(index + 1)"
                          [ngClass]="{ 'm-2 set-question rounded-circle': question, 'set-question-active': index === activeQuestionId - 1, 'set-question-answered-correct': question.answerUser === question.answerCorrect, 'set-question-answered-wrong': question.answerUser !== question.answerCorrect }">
                        {{ index + 1 }}
                    </span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="finishedTest">
  <div class="jumbotron question-title">
    <!-- Question title -->
    <span class="text-muted mr-2">
            <span i18n>Question</span>
            &nbsp;#{{ activeQuestionId }}
        </span> {{ activeQuestion.title }}
  </div>
</div>

<div class="my-4" *ngIf="finishedTest">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-center">
        <!-- Shows active question -->
        <img class="w-100" *ngIf="!updating" src="{{ activeQuestion.pic }}" srcset="{{ activeQuestion.pic2x }} 2x">
        <div *ngIf="updating" class="page-loader position-relative mt-6"></div>
      </div>
      <div class="col-md-6">
        <!-- Possible answers set -->
        <div class="row mt-md-5">
          <div class="col-4 mb-3" *ngFor="let answer of activeQuestion.answers"
               [ngClass]="{'answer': finishedTest.status === testStatus.ACTIVE, 'answer-active': answer.id === activeQuestion.answerUser, 'answer-correct': answer.id === activeQuestion.answerCorrect}">
            <div class="px-0 w-100">
              <img src="{{ answer.pic }}" srcset="{{ answer.pic2x }} 2x" class="w-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="finishedTest && activeQuestion.description">
  <div class="jumbotron question-description">
    <!-- Question description -->
    <fa-icon [icon]="['fas', 'question']" class="mr-1"></fa-icon>
    {{ activeQuestion.description }}
  </div>
</div>

<div class="mb-3" *ngIf="finishedTest">
  <div class="container">
    <div class="row pb-4">
      <!-- Question navigation -->
      <div class="col-sm-6 col-6 px-0">
        <button class="btn btn-outline-primary m-2 p-2" (click)="setQuestion(activeQuestionIdPrev)"
                [disabled]="updating || activeQuestionId <= 1">
          <fa-icon [icon]="['fas', 'chevron-left']" class="mr-1"></fa-icon>
          <span i18n>Previous Question</span>
        </button>
      </div>
      <div class="col-sm-6 col-6 px-0 text-right">
        <button class="btn btn-outline-primary m-2 p-2" (click)="setQuestion(activeQuestionIdNext)"
                [disabled]="updating || activeQuestionId === finishedTest.questionSet.length">
          <span i18n>Next Question</span>
          <fa-icon [icon]="['fas', 'chevron-right']" class="ml-1"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="finishedTest && activeQuestion.answers">
  <div class="jumbotron">
    <div class="row">
      <!-- User answer details -->
      <div class="col-sm-4">
        <div class="card-body">
          <h4 class="card-text" i18n>Your answer</h4>
          <div *ngFor="let answer of activeQuestion.answers">
            <div class="px-0 w-100" *ngIf="answer.id === activeQuestion.answerUser">
              <img src="{{ answer.pic }}" srcset="{{ answer.pic2x }} 2x" class="w-100">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <h4 class="card-text" i18n>Correct answer</h4>
          <div *ngFor="let answer of activeQuestion.answers">
            <div class="px-0 w-100" *ngIf="answer.id === activeQuestion.answerCorrect">
              <img src="{{ answer.pic }}" srcset="{{ answer.pic2x }} 2x" class="w-100">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <h4 class="card-text">Result</h4>
          <div class="p-4 text-center" *ngIf="activeQuestion.answerUser !== activeQuestion.answerCorrect">
            <fa-icon [icon]="['fas', 'times']" class="text-danger icon-answer-result"></fa-icon>
            <h3 class="text-danger" i18n>Incorrect Answer</h3>
          </div>
          <div class="p-4 text-center" *ngIf="activeQuestion.answerUser === activeQuestion.answerCorrect">
            <fa-icon [icon]="['fas', 'check']" class="text-success icon-answer-result"></fa-icon>
            <h3 class="text-success" i18n>Correct Answer</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-3 d-md-none" *ngIf="finishedTest">
  <div class="container">
    <!-- Switch between all questions (Mobile only)-->
    <div class="jumbotron py-5">
      <p class="text-muted" i18n>Click to navigate questions</p>
      <p class="d-flex flex-wrap justify-content-between">
            <span class="btn" *ngFor="let question of finishedTest.questionSet; index as index"
                  (click)="setQuestion(index + 1)"
                  [ngClass]="{ 'm-2 set-question rounded-circle': question, 'set-question-active': index === activeQuestionId - 1, 'set-question-answered-correct': question.answerUser === question.answerCorrect, 'set-question-answered-wrong': question.answerUser !== question.answerCorrect }"
            >{{ index + 1 }}</span>
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="finishedTest">
  <div class="jumbotron">
    <app-rating [test]="finishedTest.code" [question]="activeQuestionId" *ngIf="finishedTest"></app-rating>
  </div>
</div>

<!-- Loader -->
<div class="container" *ngIf="!finishedTest">
  <div class="loader-placeholder">
    <div class="page-loader"></div>
  </div>
</div>


